.card{
    
    display: flex;
    flex-flow: row wrap; 
    
    /* align-items: center; */
    padding: 5px;
    margin-left: 50%;
    margin-top: 15%;
    border:solid 1px
    
}

.breakfasts-img {
    width: 220px;
    height: 150px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    

    /* margin-left: 20%; */
    margin: 5% 2% 5% 2%;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    /* justify-items: right; */
    text-align: center; 
    background-color: white;
    color: #F6BD60;
    background-color: black;
    font-size: large;
    font-weight: bold;

}